<ion-view style="" class=" " id="page7" title="Filtro">
    <ion-content class="has-header" padding="true">
        <form class="list " id="filtro-form4">
            <label name="dt_inicio" id="filtro-input2" class="item item-input ">
                <span class="input-label">Data inicial</span>
                <input placeholder="" type="date">
            </label>
            <label name="dt_fim" id="filtro-input3" class="item item-input ">
                <span class="input-label">Data Final</span>
                <input placeholder="" type="date">
            </label>
            <label name="situacao" id="filtro-select3" class="item item-select ">
                <span class="input-label">Situação</span>
                <select>
                    <option>Situação</option>
                    <option>Desaparecido(s)</option>
                    <option>Encontrado(a)</option>
                </select>
            </label>
            <label name="uf" id="filtro-select4" class="item item-select ">
                <span class="input-label">Estado</span>
                <select></select>
            </label>
            <label name="municipio" id="filtro-select5" class="item item-select ">
                <span class="input-label">Minicípio</span>
                <select></select>
            </label>
            <button class=" button button-positive  button-block icon ion-search " id="filtro-button1">Buscar</button>
        </form>
    </ion-content>
</ion-view>