<ion-side-menus style="" enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="true" class="side-menu-left has-header">
            <ion-list class=" manual-list-fullwidth " id="menu-list1">
                <ion-item style="" class="  " menu-close="" ui-sref="menu.desaparecidos" id="menu-list-item1">Desaparecidos</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.sobreOProjeto" id="menu-list-item2">Sobre</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.estatSticas" id="menu-list-item3">Estatísticas</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.fAQ" id="menu-list-item5">Faq</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.informaEs" id="menu-list-item6">Informações</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.filtro" id="menu-list-item7">Filtro</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>